@import url("https://fonts.googleapis.com/css?family=Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');
body {
	overflow-x: hidden;
}
header,
section {
	overflow: hidden;
}
a,
btn-primary,
.fa-bars {
	transition: all .3s linear;
}
a,
a:hover {
	text-decoration: none;
}
header {
	background: linear-gradient(to top, rgba(221, 193, 36, .5), rgba(255, 81, 47, .9));
}
.navbar-brand {
	font-family: "Sniglet", cursive;
	font-size: 2rem;
	color: whitesmoke;
}
.navbar-brand:hover {
	color: #222;
}
.nav-link {
	color: whitesmoke;
}
.nav-link:hover {
	color: #222;
}
.fa-bars {
	color: #e1f5fe;
}
.fa-bars:hover {
	transform: rotateX(180deg);
}
.nav-item.active a {
	color: #585858;
}
.header-image {
	width: 100%;
}
#book div {
	color: #222;
}
#book form input,
#book form select,
#book form textarea {
	margin-top: .25rem;
	border: #385f6e solid 1px;
	border-radius: .5rem;
}
.modal-header {
	background-color: #4a678b;
}
.modal-title {
	color: #fff;
}
.close {
	color: floralwhite;
}
.modal-body {
	background: linear-gradient(to top, rgb(250, 198, 84), rgb(247, 229, 191));
}
.fa-phone,
.fa-envelope {
	color: #f4d06f;
}
.yellowblue {
	background: linear-gradient(to bottom, rgba(250, 198, 84, .5), #53a2be);
}
.bg-image {
	background: rgba(0, 0, 0, .2);
	bottom: 0;
	padding-bottom: 0;
	border-radius: .25rem;
}

.overlay {
	border-top: 60px solid transparent;
	border-left: 100rem solid rgba(250, 198, 84, .5);
}

/* app download */
.ios {
	text-align: center;
}
.footer {
	background-color: #3c4f76;
	color: floralwhite;
	width: 100vw;
}
.follow-us {
	color: #ffb79a;
	font-family: "Sniglet", cursive;
}
.app {
	background: rgba(252, 252, 152, .7);
	border-radius: .5rem;
	padding: 1rem 0;
	margin: 1rem;
	color: #d36135;
	transition: all .3s linear;
	cursor: pointer;
}
.app:hover {
	background-color: #fff;
}
.fa-cloud-download {
	color: #f8db8a;
}
.fa-android,
.fa-apple {
	color: #d36135;
}
.download {
	padding: 3rem 0;
	font-family: 'Hind Madurai', sans-serif;
	background: linear-gradient(to top, #a8dadc, #53a2be);
}
.center-me {
	margin: 0 auto;
}
/* reviews */
.card {
	max-width: 30rem;
}
.reviews {
	font-family: cursive;
	color: #635c6b;
}
.shakesecond,
.shakefirst {
	background: transparent;
	color: rgb(1, 1, 199);
	transition: all .3s linear;
}
.anime {
	animation: shake .4s ease-in-out .5s 3 normal both;
}
.animetwo {
	animation: shake .4s ease-in-out 2.5s 3 normal both;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 2px, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 2px);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-5px, 2px, 0);
	}

	40%,
	60% {
		transform: translate3d(5px, 0, 2px);
	}
}
/* Aboutus page */
.team .nav-tabs {
	border-bottom: none;
}
.grey {
	color: #455a64;
	font-family: 'Hind Madurai', sans-serif;
}

.nav-pills .nav-link {
	color: #222;
}
.history {
	background-color: rgba(207, 216, 220, .4);
	padding: 1rem;
	border-radius: .25rem;
}
/* service page */
.btn-link {
	text-decoration: none;
	color: darkgoldenrod;
	letter-spacing: .15rem;
	font-weight: 600;
	transition: all .3s ease-in;
}

.btn-link:focus,
.btn-link:hover,
.btn-link:active {
	text-decoration: none;
	padding-left: 1rem;
}
main {
	width: 100%;
	/* min-height: 70vh; */
}
.term {
	min-width: 179px;
	max-height: 38px;
}
#accordion {
	min-height: 25rem;
}
.service-image {
	width: 100px;
}
